nav {
    // border: 1px solid red;
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $light;
    padding-inline: 3rem;
    text-transform: uppercase;

    >h1>a {
        font: 800 1.8rem $text;
    }

    >div {
        display: flex;
        width: 50vw;
        height: 2rem;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;

        >a {
            font: 500 1rem $text;
            transition: all 0.5s;
            position: relative;
            z-index: 1;

            &:hover {
                font-weight: 600;
            }

            >svg {
                font-size: 1.4rem;
            }

            >span {
                position: absolute;
                top: -11px;
                right: -12px;
                background-color: $secondary;
                color: $white;
                border-radius: 50%;
                padding: 4px 8px;
                font-size: 12px;
                font-weight: bold;
            }
        }

        >.btn {
            width: 7rem;
        }
    }
}

.pageNavigation {
    display: flex;
    justify-content: start;
    align-items: center;
    background-color: $light;

    >a {
        font-size: 1.7rem;
    }

    >span {
        font-size: 1.7rem;
    }
}


@media only screen and (min-width: 993px) and (max-width:1200px) {
    nav {

        >div {
            width: 55vw;
            height: 2vw;

            >a {
                font-size: 0.9rem;
            }
        }
    }
}

@media only screen and (min-width:701px) and (max-width:995px) {
    nav {
        padding: 0 1rem;

        >h1>a {
            font: 800 1.5rem $text;
        }

        >div {
            width: 65vw;
            gap: 0.7rem;

            >a {
                font-size: 0.9rem;

                >svg {
                    font-size: 1.2rem;
                }
            }

            >.btn {
                font-size: 0.8rem;
                padding: 0 0.5rem;
            }
        }
    }
}